// 术语提示
.term {
  border-bottom: 1px dotted $primary-color;
  cursor: help;
  position: relative;
  
  &:hover:after {
    content: attr(data-description);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: $spacing-xs;
    background-color: $card-bg;
    border: 1px solid $border-color;
    box-shadow: $box-shadow-sm;
    
    // 提示框独立样式
    font-family: $body-font;
    font-size: 0.85rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: $text-color;
    z-index: 10;
    text-align: center;
    text-indent: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}